

<div class="main-one">
    <img src="./images/download.jpg" alt="">
    <h3>Where Every Meal is cooked with Love</h3>
</div>
<hr>
<div class="main-two">
    <h2>Who we are</h2>
    <p>
        Are you tired of meals that fail to delight your taste buds or warm your soul? At Cookr, we believe that food is more than just sustenance—it's an experience. Our mission is to bring back the joy of homemade meals, crafted with care and infused with love.<br>
Every dish from Cookr is prepared by dedicated home chefs who put their hearts into creating recipes that nourish both the body and spirit. Whether it's the comforting taste of a mom's special recipe or the joy of discovering wholesome flavors, Cookr delivers meals that feel like home.<br>
But our vision goes beyond taste. We are committed to promoting health and wellness for individuals and families. With a focus on fresh, nutritious ingredients and a passion for excellence, Cookr makes it easy for you to access meals that support a healthy lifestyle.<br>
Why settle for less when you can have the best of home-cooked goodness? Let Cookr bring you closer to the warmth of home, one meal at a time. Experience the difference today.

    </p>
</div>

<hr>
<div class="main-two">
    <h2> What is cookr?</h2>
    <p>
       
At Cookr, we believe that everyone deserves to enjoy delicious and healthy food, without compromising on taste or quality. We are an early-stage food tech startup on a mission to revolutionise the food industry in India by building an e-commerce marketplace that offers a wide range of healthy alternatives to restaurant-delivered food.<br><br>
We partner with extremely talented home cooks to bring you delicious homemade meals straight from their homes. Not only does this allow us to offer our customers an unparalleled dining experience, but it also helps to create thousands of micro- entrepreneurs in society and enables them to make a primary livelihood for their families.<br><br>
We understand the importance of food safety and that's why all our partner cooks are FSSAI registered. We also believe that technology plays a critical role in evolving the food sector, that's why we use cutting-edge technology to create a scalable platform that enables seamless collaboration between cooks, customers, and riders.<br><br>
At Cookr, we are dedicated to making it easy for you to access healthy and delicious homemade food, right at your doorstep
    </p>
</div>
