
<header>
    <div class="navbar">
      <div class="logo">
        <img [src]="inputdata" [alt]="inputname" />
        
      </div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Cookr</a></li>
          <li><a href="#">Join Us</a></li>
          <li class="dropdown">
            <a href="#">Product</a>
            <ul class="dropdown-menu">
              <li><a href="#">Veg</a></li>
              <li><a href="#">Non-veg</a></li>
            </ul>
          </li>
          
          
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a class="highlight" href="#">Party Orders</a></li>
          
        </ul>
      </nav>
    </div>
    
  </header>
  
  
