<div class="container mt-5 vision-mission">
    <h1 class="text-center mb-4">Vision & Mission</h1>
    
    <div class="vision-section">
        <h4><b>Vision</b></h4>
        <p>
            To nourish humanity with wholesome food and spread the joy of well-being.<br>
            Our brand vision is to become the leading platform for healthy homemade food, where customers can trust and rely on us to understand and care for their needs while making a deeper social impact in the communities we serve.<br>
            We strive to be an inclusive brand, promoting healthy eating lifestyles and equal opportunities for all.
        </p>
    </div>

    <div class="mission-section">
        <h4><b>Mission</b></h4>
        <p>
            Empowering communities with accessible and nutritious mom-food through technology and home kitchens.<br>
            Our mission is to enable homemade food to be accessible to everyone, to improve well-being through the power of technology, and to unlock 100,000 home kitchens to create a better India in 2 years.
        </p>
    </div>
</div>

